<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars</title>
  </head>
  <body>
    <% cars.forEach(car=>{ %>
        <ul>Manufacturer:<%= car.company_name %>
          Name: <%=car.name%>
          Year: <%= car.model_year %>
        Trim: <%= car.trim %>
        Price: <%= car.price %>
        <a href="/cars/update/<%=car.id%>">Edit</a>
        <button onclick="deleteCar('<%=car.id%>')">Delete</button>
        </ul>
<%})%>
  </body>
  <script>
    async function deleteCar(carId){
      try {
         const response =await fetch(`/cars/delete/${carId}`,{method:"DELETE"})
      if(response.ok){
        window.location.reload()
      }
      else console.error("Cant delete car")
      } catch (error) {
        console.error(error)
      }
     
    }
  </script>
</html>
