<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Companies</title>
  </head>
  <body>
    <% companies.forEach(company=>{ %>
        <ul>Name:<%= company.name %>
        Country of origin: <%= company.country %>
        Rating: <%= company.rating %>
        <a href="/company/update/<%=company.id %>">Edit</a>
        <button onclick="deleteCompany('<%=company.id%>')">Delete</button>
        </ul>
<%})%>
  </body>
  <script>
      async function deleteCompany(companyId){
        console.log("here we go")
      try {
        const response=await fetch(`/company/delete/${companyId}`,{
        method:"DELETE"})
        if(response.ok){
          window.location.reload()
        }
        else{
          console.error("failed to delete",response.status)
        }
      
      } catch (error) {
        console.error("error deleting item",error)
      }
      
    }
  </script>
</html>
